- name: Load vaulted secrets
  include_vars: ../vars/secrets.yml

- name: Ensure Jellyfin directories exist
  become: true
  file:
    path: "{{ item }}"
    state: directory
    owner: 1000
    group: 1000
    mode: '0755'
  loop:
    - "{{ jellyfin_config_path }}"
    - "{{ jellyfin_cache_path }}"

- name: Create jellyfin env file from template
  template:
    src: jellyfin.env.j2
    dest: "{{ jellyfin_env_file }}"
    mode: "0600"
  vars:
    TZ: "{{ timezone }}"
    URL: "{{ JELLYFIN_URL }}"

- name: Pull Jellyfin Docker image
  community.docker.docker_image:
    name: jellyfin/jellyfin
    tag: "{{ jellyfin_version }}"
    source: pull

- name: Run Jellyfin container
  community.docker.docker_container:
    name: "{{ jellyfin_container_name }}"
    image: "jellyfin/jellyfin:{{ jellyfin_version }}"
    state: started
    restart_policy: unless-stopped
    user: "{{ jellyfin_user }}"
    env_file: "{{ jellyfin_env_file }}"
    devices:
      - "/dev/dri:/dev/dri"
    networks: "{{ jellyfin_networks }}"
    ports:
      - "{{ jellyfin_port }}:8096"
    volumes:
      - "{{ jellyfin_config_path }}:/config"
      - "{{ jellyfin_cache_path }}:/cache"
      - "{{ jellyfin_media_path }}:/media"
    labels:
      traefik.enable: "true"
      traefik.docker.network: "traefik"
      traefik.http.routers.jellyfin.rule: "{{ 'Host(`' + JELLYFIN_URL + '`)' }}"

