- name: Load vaulted secrets
  include_vars: ../vars/secrets.yml

- name: Ensure Jellyfin directories exist
  become: true
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ jellyfin_uid }}" 
    group: "{{ jellyfin_gid }}" 
    mode: '0755'
  loop:
    - "{{ jellyfin_config_path }}"
    - "{{ jellyfin_cache_path }}"

- name: Pull Jellyfin Docker image
  community.docker.docker_image:
    name: "{{ jellyfin_image }}" 
    tag: "{{ jellyfin_version }}"
    source: pull

- name: Run Jellyfin container
  community.docker.docker_container:
    name: "{{ jellyfin_container_name }}"
    image: "{{ jellyfin_image }}:{{ jellyfin_version }}"
    restart_policy: "{{ jellyfin_restart_policy }}"
    user: "{{ jellyfin_user }}"
    env: "{{ jellyfin_env }}"
    devices: "{{ jellyfin_devices }}"
    networks: "{{ jellyfin_networks }}"
    ports: "{{ jellyfin_ports }}"
    volumes: "{{ jellyfin_volumes }}"
    labels: "{{ jellyfin_labels }}"
    state: started

